html, body, #__next {
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@font-face {
  font-family: 'Canela';
  src: url('/fonts/Canela-Bold.ttf'); /* IE9 Compat Modes */
  src: url('/fonts/Canela-Bold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Canela-Bold.ttf') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Canela-Bold.ttf') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Canela-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima_ssv/Proxima_Thin.otf'); /* IE9 Compat Modes */
  src: url('/fonts/proxima_ssv/Proxima_Thin.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proxima_ssv/Proxima_Thin.otf') format('woff2'), /* Super Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Thin.otf') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Thin.otf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima_ssv/Proxima_Extrabold.otf'); /* IE9 Compat Modes */
  src: url('/fonts/proxima_ssv/Proxima_Extrabold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proxima_ssv/Proxima_Extrabold.otf') format('woff2'), /* Super Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Extrabold.otf') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Extrabold.otf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima_ssv/Proxima_Bold.otf'); /* IE9 Compat Modes */
  src: url('/fonts/proxima_ssv/Proxima_Bold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proxima_ssv/Proxima_Bold.otf') format('woff2'), /* Super Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Bold.otf') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Bold.otf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima_ssv/Proxima_Regular.otf'); /* IE9 Compat Modes */
  src: url('/fonts/proxima_ssv/Proxima_Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proxima_ssv/Proxima_Regular.otf.otf') format('woff2'), /* Super Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Regular.otf.otf') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/proxima_ssv/Proxima_Regular.otf.otf') format('truetype'), /* Safari, Android, iOS */
}